
/****************************
 * Esercizio Form con CSS3
 * .Shadaki.
 * Last Modified 16-Dec-2015
 ****************************/ 


body
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.form-upper-container
{
	background-color:yellow;
	height: 100%;
	width:300px;
	margin-top:50px;
	padding-top:30px;
	margin-left:50px;
	border-top: 2px solid purple;
	border-left: 2px solid purple;
	border-right: 2px solid purple;
}

.form-lower-container
{
	background-color:yellow;
	height: 100%;
	width:300px;
	margin-left:50px;
	border-bottom: 2px solid purple;
	border-left: 2px solid purple;
	border-right: 2px solid purple;
}

.form-title
{
	width:100%;
	text-align:center;
	font-size:xx-large;
	color:purple;
	text-shadow: 2px 2px #fff;
	font-weight:bold;
}

.inner-container
{
	padding-left:20px;
	padding-right:20px;
}

.textbox-title
{
	width:100%;
	font-size:x-large;
	color:purple;
	text-shadow: 1px 1px #ff0000;
	padding-bottom:5px;
	padding-top:15px;
	font-weight:bold;
}

.textboxclass
{
	color:red;
	width:100%;
	height:30px;
}

.textboxclass:focus
{
	color:white;
	background-color:black;
}


.mezzotitle
{
	width:100%;
	font-size:x-large;
	color:purple;
	padding-bottom:10px;
	padding-top:10px;
	font-weight:bold;
}

.ihave
{
	color:purple;
	font-size:large;
}

.mezzoselect
{
	background-color:white;
	border:1px solid black;
	color:purple;
	font-size:medium;
	font-weight:bold;
	text-shadow: 1px 1px #ff0000;
	margin-top:20px;
}


.button
{
	border: 1px solid darkgreen;
	background-color:green;
	text-align:center;
	margin-bottom:10px;
	margin-top:30px;
	margin-left:58%;
	height:30px;
	text-shadow: 1px 2px grey;
}

.buttonlink{font-style:italic;font-size:x-large;font-weight:bold;}
.buttonlink:link{color:red;text-decoration:none;}
.buttonlink:visited{color:red;text-decoration:none;}
.buttonlink:hover{color:white;text-decoration:underline;}

